<div class="container my-3">
  <div class="input-group input-group-lg">
      <input id="cityInput" type="text" class="form-control bg-dark text-muted" placeholder="Enter city, country"
          aria-label="city" aria-describedby="sendButton" [(ngModel)]='cityInput'>
      <div class="input-group-append">
          <button class="btn btn-lg btn-primary" type="button" (click)="onSubmit()">Send</button>
      </div>
  </div>
</div>

<div class="container rounded bg-dark py-3">
  <div class="row justify-content-around">
      <!-- Today-->
      <div class="col-xl-4 col-12 py-3">
          <div class="row ">
              <div class="col-auto">
                  <h4 id="day">{{today | date:'EEEE'}}</h4>
              </div>
              <div class="col-auto ml-auto">
                  <h4 id="month">{{today | date:'dd MMM'}}</h4>
              </div>
          </div>
          <div class="row py-3">
              <div class="col-auto">
                  <h4 id="city">{{ city }}</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-auto">
                  <h3 class="display-3 font-weight-bold text-white"><span id="temperature">{{temp}}</span><sup>o</sup>C
                  </h3>
              </div>
              <div class="col-auto my-auto">
                  <img class="img-fluid" [src]="icon ? '../../assets/images/icons/' + icon + '.png' : ''" id="weatherImage" alt="" width=90>
              </div>
          </div>
          <div class="row flex-nowrap">
              <div class="col-auto">
                  <img class="px-1" src="../../assets/images/icon-umberella.png" alt=""><span
                      id="humidity">{{humidity}}</span><span>%</span>
              </div>
              <div class="col-auto">
                  <img class="px-1" src="../../assets/images/icon-wind.png" alt=""><span id="wind">{{wind_spd | number:'1.2-2'}}</span><span>km/h</span>
              </div>
              <div class="col-auto">
                  <img class="px-1" src="../../assets/images/icon-compass.png" alt=""><span id="compass">{{direction | titlecase}}</span>
              </div>
          </div>
      </div>
      <!-- end Today-->
      <!-- other days -->
      <div class="col-xl-8 col-12 py-3">
          <div class="row no-gutters" >
              <div class="col" *ngFor="let condition of conditions">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day2">{{condition.valid_date | date:'EEEE'}}</h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img [src]="'../../assets/images/icons/' + condition.weather.icon + '.png'" id="day2WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day2MaxTemp">{{condition.max_temp}}</span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day2MinTemp">{{condition.min_temp}}</span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div>
              <!-- 3rd day -->
              <!-- <div class="col">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day3"></h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img src="" id="day3WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day3MaxTemp"></span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day3MinTemp"></span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div> -->
              <!-- 4th day -->
              <!-- <div class="col">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day4"></h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img src="" id="day4WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day4MaxTemp"></span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day4MinTemp"></span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div> -->
              <!-- 5th day -->
              <!-- <div class="col">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day5"></h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img src="" id="day5WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day5MaxTemp"></span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day5MinTemp"></span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div> -->
              <!-- 6th day -->
              <!-- <div class="col">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day6"></h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img src="" id="day6WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day6MaxTemp"></span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day6MinTemp"></span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div> -->
              <!-- 7th day -->
              <!-- <div class="col">
                  <div class="row">
                      <div class="col text-center">
                          <h4 id="day7"></h4>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <img src="" id="day7WeatherImage" alt="" width=48 height=48>
                      </div>
                  </div>
                  <div class="row py-3">
                      <div class="col text-center">
                          <h5 class="display-5 font-weight-bold text-white"><span
                                  id="day7MaxTemp"></span><sup>o</sup>C
                          </h5>
                          <h6 class="display-6 text-white"><span id="day7MinTemp"></span><sup>o</sup>C
                          </h6>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</div>